body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
}

.userBio {
    padding: 0;
}

hr {
    padding: 0;
}

#userProfile {
    border-radius: 100%;
    width: 170px;
    height: 170px;
    float: left;
    margin-left: 10px;
    box-shadow: 1px 2px 2px black;;
}

h3 {
    margin-left: 200px;
}

.bio {
    width: 800px;
    height: 100px;
    background: #DADAF0;
    margin-left: 200px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px black;

}

.favoritesContainer {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    grid-template-rows: auto;
    padding: 15px;
    margin-left: 10px;
}

.favorites {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30px;
}

.favorites img {
    width: 100%;
    height: 100%;
    border-radius:5px;
    box-shadow: 1px 2px 2px black;
}

.favorites .poster {
    grid-area: 1/1/2/2;
}

.favorites .title {
    grid-area: 2/1/3/2;
}

.listTitle {
    border-left: solid 10px #A100FF;
    margin: 0 0 0 27px;
    padding: 0 0 0 5px;
}

.title{
    text-align: center;
    font-weight: bold;
}

.username {
    margin-left: 200px;
    border-left: solid 10px #A100FF;
    padding: 0 0 0 5px;
}